name: gottcha

on:
  push:
    branches: [ master, develop ]
  pull_request:
    branches: [ master, develop ]
jobs:
  functional-tests:
    name: GOTTCHA2 test (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ["ubuntu-latest"]
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@v2
        with:
          path: GOTTCHA2

      - uses: conda-incubator/setup-miniconda@v2
        with:
          environment-file: GOTTCHA2/environment.yml
          activate-environment: gottcha

      - name: Install Setuptools and Testing Dependencies
        run: |
          conda install -n gottcha setuptools
          pip install pytest

      - name: Check Install
        run: |
          conda list
          cd GOTTCHA2
          python setup.py install
          gottcha2 profile --help

      - name: Run test dataset
        run: |
          cd GOTTCHA2/test/
          tar -xzf gottcha2_database_Ebola_test.tar.gz
          gottcha2 profile -d gottcha2_database_test/gottcha_db.species.fna -i SRR12689945_1_1k.fastq.gz
          gottcha2 profile -d gottcha2_database_test/gottcha_db.species.fna -i SRR12689945_1_1k.fastq.gz SRR12689945_2_1k.fastq.gz
          gottcha2 profile -d gottcha2_database_test/gottcha_db.species.fna -i SRR12689945_1_1k.fastq.gz -nc
          gottcha2 profile -d gottcha2_database_test/gottcha_db.species.fna -i gottcha2_database_test/gottcha_db.species.fna.gz -np
          gottcha2 profile -d gottcha2_database_test/gottcha_db.species.fna -s SRR12689945_1_1k.gottcha_species.sam
          gottcha2 extract -d gottcha2_database_test/gottcha_db.species.fna -e 3052462 -s SRR12689945_1_1k.gottcha_species.sam
          grep 'Orthoebolavirus zairense' SRR12689945_1_1k.tsv

      - name: Run unit tests
        run: |
          cd GOTTCHA2
          ls -la test/
          python -m unittest discover -v -s test